<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "su.lavito"
        versionCode = "10"
        version     = "1.2.0">

    <name>ТЕСТ. lavito.su</name>

    <description>
        Доска объявлений в Луганске и Донецке
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FBFCFD" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/7cec6657c6c9c6b4065f1fd9cef1ef6a.png" density="ldpi" />
        <icon src="res/android/icon/1327468378d1c76e39444ae3ec5c79ef.png" density="mdpi" />
        <icon src="res/android/icon/e00943f24f474ca6ebbc14491d70c3ae.png" density="hdpi" />
        <icon src="res/android/icon/21515f7feaf181f1a095530cdd1120d8.png" density="xhdpi" />
        <icon src="res/android/icon/a5c6396b7db06924286503a4d385fd1f.png" density="xxhdpi" />
        <icon src="res/android/icon/ba651ca85359054d164af3ee6b191150.png" density="xxxhdpi" />

        <splash src="res/android/screen/27d0c73082454d6d9e8995095b581419.png" density="port-hdpi"/>
        <splash src="res/android/screen/7b0d5aa8f3c02e52f858c80ec1a6082b.png" density="port-ldpi"/>
        <splash src="res/android/screen/c2f4c5b1557d3165ed0b62cb9ffe2182.png" density="port-mdpi"/>
        <splash src="res/android/screen/0f7f3214cfc3e70ab2a822467a52d751.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/0f8f489203529aa9fa39a5c9d3f4b9cb.png" width="180" height="180" />
        <icon src="res/ios/icon/533181c1a4a967de13c1ec0ce1597ed9.png" width="60" height="60" />
        <icon src="res/ios/icon/3c603373583a1ba321fc680ede719208.png" width="120" height="120" />
        <icon src="res/ios/icon/93bcb66dd446434a58c3beaa6d1fbe01.png" width="76" height="76" />
        <icon src="res/ios/icon/f364c78277434dc13e3245fc830a1e6f.png" width="152" height="152" />
        <icon src="res/ios/icon/add02ffededb241229951d877d0d677b.png" width="57" height="57" />
        <icon src="res/ios/icon/413a9cf2995e0e9235f89ca190a75a5a.png" width="114" height="114" />
        <icon src="res/ios/icon/5bff29b6ed579ca152da11bf3e82e89f.png" width="72" height="72" />
        <icon src="res/ios/icon/855d6563e13d60fa16db88406630c90b.png" width="144" height="144" />
        <icon src="res/ios/icon/3a2d55dd2bc7571f1dfe63a217cedd29.png" width="167" height="167" />
        <icon src="res/ios/icon/2e0c4be426c0a53e2aaf1d95797a44eb.png" width="29" height="29" />
        <icon src="res/ios/icon/5113f9405a70325f54c195f79cd84289.png" width="58" height="58" />
        <icon src="res/ios/icon/d5f3590466a5d3079513ec33a56c8844.png" width="87" height="87" />
        <icon src="res/ios/icon/feb4aa3d9018daa6bad3ff1e9b18528a.png" width="167" height="167" />

        <splash src="res/ios/screen/2822333a49a92be2239a73ce009996d3.png" />
        <splash src="res/ios/screen/d0712a5549f4ab9110d23693cb4c5b67.png" />
        <splash src="res/ios/screen/176dee29e547cd0a54f40094f0eeddeb.png" />
        <splash src="res/ios/screen/bf8d9dab444e1b2901cc720c23709fcd.png" />
        <splash src="res/ios/screen/10297df6c7cb1a7839c7f3f8ceb792e8.png" />
        <splash src="res/ios/screen/e358c2ff4b488782b73820d9770e432f.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/eb19503137679323637a9b2e24429f01.png" target="StoreLogo" />
        <icon src="res/windows/icon/64a9ab6cbf6d5aac582d9724562081f5.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/4b00b7effddde9fe3496659b69e1174b.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/7357699f05ce750d808d2a8dc55e27e2.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/4127cbefca30cdfc9ec5965efcfa277c.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/78967f8498952a6456619ab127da008e.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/bcbc0a881e97c8f8fd309e7b96d1bf47.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/e00b46af7f1bc91dc83831eb84684fec.png" target="SplashScreen"/>
        <splash src="res/windows/screen/c817d9116b77ed68bdd54f2b96ac0bab.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>